{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}

{% block content %}
    <div class="payment-form completed-payment-form">
        <div class="form">
            <h1></h1>
            <a href="{{ path('frontend_client_room') }}" type="submit">Перейти в личный кабинет</a>
        </div>
    </div>
{% endblock %}