<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Life-style-manager (Восстановление пароля)</title>
</head>
<body style="margin: 0px; width: 700px; font-family: Arial;">
<div class="content">
    <p>
        Для восстановления пароля перейдите пожалуйста по ссылке: <br/>
        <a href="{{ url('frontend_client_reset_password') }}?key={{ uniqLink }}" target="_blank">
            {{ url('frontend_client_reset_password') }}?key={{ uniqLink }}
        </a>
    </p>
</div>
</body>
</html>
